<div class="content">

    <div class="row">

        <div class="col-3">

            <h4 style="margin-left: 20px; margin-top: 15px">Home > PHP Basics</h4>

        </div>

        <div class="col-6"></div>

        <div class="col-3">

            <button style="margin-left: 300px; background-color: white; " matTooltip="Refresh" mat-icon-button><mat-icon>refresh</mat-icon>

            </button>

        </div>

    </div>

    <div class="container" style="

      background-color: rgba(255, 255, 255, 255);

      width: 100%;

      height: 500px;">

        <div class="row">

            <div class="col-3" style="margin-top: 15px;">

                <form class="d-flex">

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

                </form>

            </div>

            <div class="col-7"></div>

            <div class="col-2" style="margin-top: 15px;">

                <button mat-stroked-button style="

          background-color: transparent;

          color: rgb(0, 0, 0);

          border-color: black;

        " (click)="onAddTopic()" >

                    Add Topic

                </button>

            </div>

        </div><br>

        <div class="container">

            <div class="row" style="background-color:#e9f1f8 ;">

                <div class="col-4" style="margin-top: 15px;">

                    <h4 style="font-weight: bolder;">Please add a course to see content</h4>

                </div>

                <div class="col-9" style="margin-top: 15px;">

                </div>

            </div>

        </div>


        <!-- <div class="container">

    <div class="row" style="margin-top: 30px;">

      <div class="col-7"></div>

      <div class="col-5">

        <mat-paginator [length]="1393"

            [pageSize]="10"

            [pageSizeOptions]="[5, 10, 25, 100]"

            aria-label="Select page">

        </mat-paginator>

      </div>

    </div>

  </div>
-->


   <ng-container #container1></ng-container>

</div>

</div>