<div class="mat-elevation-z8" style="margin-top: 20px; background-color: white;">

 

    <table mat-table [dataSource]="dataSource" class="mat-table" *ngIf="var9" >

 

      <ng-container matColumnDef="Actions">

        <th mat-header-cell *matHeaderCellDef> Actions </th>

        <td mat-cell *matCellDef="let element">

            <button (click)="onedit()" style="border: none;" *ngIf="var5" ><img src="../../assets/images/pencil (2).png" style="width: 20px; height: 20px; background-color: white;" alt=""></button>

            <button (click)="ondelete()" style="border: none;" *ngIf="var6"><img src="../../assets/images/bin.png" style="width: 20px; height: 20px; margin-left: 10px; background-color: white;" alt=""></button>

            <button (click)="onLocalstorage()" style="border: none;" *ngIf="var7" >

            <img src="../../assets/images/check.png" style="width: 20px; height: 20px; background-color: white;" alt=""></button>

            <button style="border: none;" *ngIf="var8" ><img src="../../assets/images/close (1).png"  style="width: 20px; height: 20px; margin-left: 10px; background-color: white;" alt=""></button> {{ element.Actions }}
           <a href="#" (click)="handleAnchorClick($event)" style="text-decoration: underline;  " >Mark Students</a>
        </td>
      </ng-container>

 

      <ng-container matColumnDef="ExamName">

        <th mat-header-cell *matHeaderCellDef> Exam Name </th>

        <td mat-cell *matCellDef="let element">

            <input  name="" id="" style="width: 120px; height: 30px;" placeholder="Enter exam name" [(ngModel)]="examname" *ngIf="var3" >

            <p  *ngIf="var1" >{{examname}}</p> {{element.ExamName}}

        </td>

      </ng-container>

 

      <ng-container matColumnDef="TotalMarks">

        <th mat-header-cell *matHeaderCellDef> Total Marks </th>

        <td mat-cell *matCellDef="let element">

            <input  name="" id="" style="width: 120px; height: 30px;" placeholder="Enter marks" [(ngModel)]="totalmarks" *ngIf="var4">

            <p *ngIf="var2" >{{totalmarks}}</p> {{element.TotalMarks}}

              </td>

      </ng-container>

 

      <ng-container matColumnDef="Date">

        <th mat-header-cell *matHeaderCellDef> Date </th>

        <td mat-cell *matCellDef="let element">

            <input  name="" id="" style="width: 120px; height: 30px;" placeholder="Enter date" [(ngModel)]="date" *ngIf="var11">

            <p *ngIf="var10" >{{date}}</p> {{element.Date}}

              </td>

      </ng-container>

 

      <ng-container matColumnDef="Time">

        <th mat-header-cell *matHeaderCellDef> Time </th>

        <td mat-cell *matCellDef="let element">

            <input  name="" id="" style="width: 120px; height: 30px;" placeholder="Enter time" [(ngModel)]="time" *ngIf="var13">

            <p *ngIf="var12" >{{time}}</p> {{element.Time}}

              </td>

      </ng-container>

 

      <ng-container matColumnDef="Files">

        <th mat-header-cell *matHeaderCellDef> Files </th>

        <td mat-cell *matCellDef="let element">

          <button style="border: none;" *ngIf="var15" ><img src="../../assets/images/upload.png" style="width: 20px; height: 20px; background-color: white;" alt=""  data-toggle="modal" data-target="#modalCart" ></button>

          <!-- <button style="border: none;" *ngIf="var14" ><img src="../../assets/images/upload.png" style="width: 20px; height: 20px; background-color: white;" alt=""></button> -->
            <a href="#"  *ngIf="var14" style="text-decoration: underline;" >Lorem.png</a>
              </td>

      </ng-container>

 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

 


    <div class="container mt-4" style="overflow: hidden; background-color: white; " *ngIf="var20">
        <table class="table table-striped" style="overflow: hidden;">
          <thead style="background-color: rgb(219, 196, 182)">
            <tr>
              <th>Students</th>
              <th>Marks</th>
              <th> <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary ml-2" (click)="saveAndClose()">Save & Close</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index" >
              <td>{{ student.name }}</td>
              <td><input type="text" [(ngModel)]="student.marks"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="text-right">
          <!-- <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary ml-2" (click)="saveAndClose()">Save & Close</button> -->
        </div>
      </div>
      










    <div class="modal fade my-5" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left: 270px;" >
      <div class="modal-content" style="width: 1000px; height: 500px;" >
        <!--Header-->
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">Upload Files</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
  
       <div class="middlepart" style=" margin-top: 60px;height: 200px; width: auto; border-radius: 1%; border-style: dotted; background-color: rgb(229, 243, 243); padding-top: 80px;">
        
            <h1 style="text-align: center;">Drag & Drop your Files or <a href="" style="text-decoration: underline;">Upload</a> </h1>
         
       
        
       </div>
       <h2 class="my-2" style="text-align: center;">(Supported format: pdf, (Max Size 2 MB))</h2>
        </div>
        <!--Footer-->
        <div class="modal-footer">
            <button class="btn btn-primary">Upload</button>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          
        </div>
      </div>
    </div>
  </div>



  </div>