<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!--Nav Bar-->

    <mat-toolbar color="primary" style="background-color: rgba(46, 60, 84, 255)">

        <mat-toolbar-row style="min-height: 40px; height: 40px">

            <img src="../../assets/images/logo.png" style="height: 20px; width: 150px" alt="cozentus-logo" />

            <span class="example-spacer"></span>

            <div style="display: flex; justify-content: center; margin-right: 80px;">
                <div style="height: 30px; width: 30px;  border-radius: 50%; background-color: rgb(246, 33, 207); margin-top: 4px;">
                      <h5 style="text-align: center; margin-top: 5px;">SD</h5>
                </div>
                <div>
                    <div class="btn-group ml-2">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; border: none;">
                         SS Dash
                        </button>
                        <div class="dropdown-menu mr-5" style="margin-right: 150px; background-color: rgb(31, 31, 56);" >
                            <a class="dropdown-item" href="#" style="color: white;">  <img src="../../assets/images/password.png" class="img mx-2" alt="Home">Chage Password</a>
                            <a class="dropdown-item" href="#" style="color: white;">  <img src="../../assets/images/logout.png" class="img mx-2" alt="Home">Sign Out</a>
                        
                        </div>
                      </div>
                </div>
            </div>

        </mat-toolbar-row>



        <mat-toolbar-row style="min-height: 40px; height: 40px">

            <button mat-stroked-button style="background-color: transparent; color: white; border: none">
               <img src="../../assets/images/home.png" class="img mx-2" alt="Home">Home
            </button>

            <button mat-stroked-button style="background-color: transparent; color: white; border: none" >

                <img src="../../assets/images/exams.png" class="img mx-2" alt="exam" />Exams

            </button>

            <button mat-stroked-button style="background-color: transparent; color: white; border: none" >

                <img src="../../assets/images/assignment.png" class="img mx-2" alt="assignment" />Assignments

            </button>

            <button mat-stroked-button style="background-color: transparent; color: white; border: none">

                <img src="../../assets/images/point.png" class="img mx-2" alt="reports" />Reports

            </button>

        </mat-toolbar-row>

    </mat-toolbar>

 <!-- nav bar end  -->
  
 <div class="contaier ml-5 bg-white" style="width: 93%; margin-top: 100px;height: 500px;">
    <div class="row">
        <div class="col-12">

        
      <!-- <mat-tab-group class=" mx-5 my-5 mat-stretch-tabs='false' mat-align-tabs='start'"> -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Batches & Programs">
          <div class="container">

          </div>

        </mat-tab>
        <mat-tab label="Attendance">
          
          <div class="upper my-5 mx-5">
            <form action=""  style="display: inline-flex;">
              <div class="form-group mx-4">
                <select class="form-control" #teams (change)="onSelected(teams.value)" id="exampleFormControlSelect1" style="width: 300px;">
                  <option>one</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group" *ngIf="div2">
                <select class="form-control" id="exampleFormControlSelect1" style="width: 300px;"  #teams (change)="onSelected1(teams.value)">
                  <option>two</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group mx-4" *ngIf="div3" >
                <select class="form-control" id="exampleFormControlSelect1" style="width: 300px;" #teams (change)="onSelected2(teams.value)">
                  <option>three</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group" *ngIf="div4">
                <select class="form-control" id="exampleFormControlSelect1" style="width: 300px;" #teams (change)="onSelected3(teams.value)">
                  <option>four</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
          </form>
          </div>
        <div class="content mx-5" *ngIf="div5">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>August 07,2023</mat-label>
            <input matInput [matDatepicker]="picker">
            
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker (closed)="emit()"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="container"  style="width:100%;">
            <div class="row">
              <div class="col-11"></div>
              <div class="col-1">
                <button mat-stroked-button style="width: 100px" (click)="AddAttendance()" >Add Data</button>
              </div>
            </div>
          </div>
        <ng-container #container10></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- <div class="container"  style="width:100%;">
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
          <button mat-stroked-button style="width: 100px" (click)="AddAttendance()" >Add Data</button>
        </div>
      </div>
    </div> -->
    </div>
    
  </div>



</body>

</html>